{% load static %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8"/>
<title>Books recommendations</title>
<head>
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <title>Linguist</title>
</head>
<body>
    <label>Рекоммендательная система для поиска книг по интересам</label>
    <form>
        <p>Выберите книгу</p>
        <select  size="3">
            <option>"Мартин Иден"- Джек Лондон</option>
            <option>"Чапаев и Пустота"- Виктор Пелевин</option>
            <option>"Властелин колец"- Джон Р.Р. Толкин</option>
        </select>
        <p>Рейтинг книги: 9.2/10</p>
        <p>Рекоммендуется к прочтению пользователям:</p>
    </form>
</body>
</html>